name: Privileges Check

on:
  pull_request:
    branches:
    - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: master
        path: master
    - uses: actions/checkout@v2
      with:
        path: candidate
        ref: test
    - uses: actions/checkout@v2
      with:
        repository: sysdiglabs/kube-psp-advisor
        ref: kh_add_comparator
        path: kube-psp-advisor
    - name: Setup Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
    - name: Run a multi-line script
      run: |
        cd kube-psp-advisor
        make build
        cd ..
        export PATH="$PATH:$(pwd)/kube-psp-advisor"    
        kube-psp-advisor compare --sourceDir master/yamls --targetDir candidate/yamls
