name: Privileges Check

on:
  pull_request:
    branches:
    - master

jobs:
  check:
    runs-on: ubuntu-latest
#    container: kaizheh/kube-psp-advisor:comparator
    steps:
      - uses: actions/checkout@v2
        with:
          ref: master
          path: master
      - uses: actions/checkout@v2
        with:
          path: candidate
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Alpine Probe & Echo
        uses: Kaizhe/alpine-echo@v1.0.0
        with:
          message: 'What''s up'
      - name: Run a multi-line script
        env:
          STEPS_CONTEXT: ${{ toJson(steps) }}
        run: |
          env
          ls -ltr
          /kube-psp-advisor compare --sourceDir master/yamls --targetDir candidate/yamls
          cd kube-psp-advisor
          make build
          cd ..
          export PATH="$PATH:$(pwd)/kube-psp-advisor"    
          cat master/yamls/nginx.yaml
          cat candidate/yamls/nginx.yaml
          kube-psp-advisor compare --sourceDir master/yamls --targetDir candidate/yamls
