name: Privileges Check

on:
  pull_request:
    branches:
    - master

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: master
          path: master
      - uses: actions/checkout@v2
        with:
          path: candidate
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Alpine Probe & Echo
        uses: Kaizhe/alpine-echo@v1.0.0
        id: privilege_check
        with:
          message: 'What''s up'
      - name: K8s Privilege Escalation Check
        uses: Kaizhe/k8s-privilege-check@v1.0.0
        id: k8s_privilege_check
        with:
          sourceDir: 'master/yamls'
          targetDir: 'candidate/yamls'
      - name: Run a multi-line script
        run: |
          echo "###"
          echo ${{ steps.privilege_check.outputs.action_fruit }}
          echo "###"
          echo "###"
          echo ${{ steps.k8s_privilege_check.outputs.escalation_report }} | jq .
          echo "###"
          ls -ltr
          /kube-psp-advisor compare --sourceDir master/yamls --targetDir candidate/yamls
          cd kube-psp-advisor
          make build
          cd ..
          export PATH="$PATH:$(pwd)/kube-psp-advisor"    
          cat master/yamls/nginx.yaml
          cat candidate/yamls/nginx.yaml
          kube-psp-advisor compare --sourceDir master/yamls --targetDir candidate/yamls
