name: Privileges Check

on:
  pull_request:
    branches:
    - master

jobs:
  check:
    runs-on: ubuntu-latest
    container: kaizheh/kube-psp-advisor:comparator
    steps:
      - uses: actions/checkout@v2
        with:
          ref: master
          path: master
      - uses: actions/checkout@v2
        with:
          path: candidate
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: docker.io/kaizheh/alpine
        with:
          input: ls -ltr
#      - uses: actions/checkout@v2
#        with:
#          repository: sysdiglabs/kube-psp-advisor
#          ref: kh_add_comparator
#          path: kube-psp-advisor
#      - name: Setup Go
#        uses: actions/setup-go@v1
#        with:
#          go-version: 1.13
      - name: Run a multi-line script
        run: |
          ls -ltr
          /kube-psp-advisor compare --sourceDir master/yamls --targetDir candidate/yamls
          cd kube-psp-advisor
          make build
          cd ..
          export PATH="$PATH:$(pwd)/kube-psp-advisor"    
          cat master/yamls/nginx.yaml
          cat candidate/yamls/nginx.yaml
          kube-psp-advisor compare --sourceDir master/yamls --targetDir candidate/yamls
